In [1]:
import os
from nlpia.loaders import get_data
from gensim.models import KeyedVectors

In [2]:
wv=KeyedVectors.load_word2vec_format('/home/oliver/anaconda3/lib/python3.8/site-packages/nlpia/bigdata/GoogleNews-vectors-negative300.bin',binary=True)

In [3]:
len(wv.vocab)

3000000

In [4]:
import pandas as pd
vocab=pd.Series(wv.vocab)

In [5]:
vocab.iloc[1000000:1000006]

Starwood_Hotels_HOT    Vocab(count:2000000, index:1000000)
Tammy_Kilborn          Vocab(count:1999999, index:1000001)
aortic_aneurism        Vocab(count:1999998, index:1000002)
Spragins_Hall          Vocab(count:1999997, index:1000003)
Ed_Iacobucci           Vocab(count:1999996, index:1000004)
Seilheimer             Vocab(count:1999995, index:1000005)
dtype: object

In [6]:
wv['Illini']

array([ 0.15625   ,  0.18652344,  0.33203125,  0.55859375,  0.03637695,
       -0.09375   , -0.05029297,  0.16796875, -0.0625    ,  0.09912109,
       -0.0291748 ,  0.39257812,  0.05395508,  0.35351562, -0.02270508,
        0.05957031,  0.06640625, -0.24511719,  0.32617188, -0.00149536,
        0.46875   , -0.00534058,  0.03271484,  0.36523438, -0.3046875 ,
       -0.08984375,  0.04956055,  0.08691406,  0.18847656, -0.16992188,
       -0.1328125 , -0.19433594,  0.11230469, -0.33984375,  0.03588867,
        0.07373047,  0.1328125 ,  0.02270508, -0.06005859,  0.421875  ,
        0.25195312, -0.39257812,  0.01733398, -0.28320312, -0.33203125,
        0.12890625, -0.16992188,  0.21289062,  0.15039062,  0.12207031,
        0.15820312,  0.02307129, -0.359375  , -0.046875  ,  0.01672363,
        0.14257812, -0.01477051,  0.3828125 , -0.06079102, -0.390625  ,
        0.06176758, -0.06738281, -0.06884766,  0.1640625 , -0.08007812,
        0.2421875 ,  0.02380371,  0.07177734, -0.03808594,  0.51953125,
       -0.12255859,  0.10498047, -0.43945312, -0.30273438, -0.01733398,
       -0.19238281, -0.34765625, -0.30664062, -0.21972656, -0.06079102,
       -0.34570312, -0.55078125, -0.13867188, -0.11621094, -0.02038574,
        0.18066406, -0.08789062, -0.00268555,  0.00848389, -0.171875  ,
       -0.51171875, -0.36132812, -0.20214844,  0.15429688,  0.28320312,
       -0.234375  ,  0.23925781, -0.18945312, -0.06787109, -0.1640625 ,
        0.08935547, -0.19726562,  0.19628906,  0.09130859, -0.27539062,
        0.17285156, -0.01428223,  0.00527954, -0.04638672, -0.22460938,
        0.23535156, -0.05371094,  0.02844238,  0.3046875 ,  0.44921875,
        0.06494141, -0.140625  , -0.00878906, -0.04614258, -0.19921875,
       -0.75      , -0.3515625 , -0.25      , -0.33789062, -0.00167084,
       -0.00994873,  0.11474609,  0.09228516, -0.21484375,  0.31445312,
        0.13378906,  0.25976562, -0.00270081,  0.09570312, -0.03222656,
       -0.16894531,  0.19433594,  0.453125  , -0.15527344, -0.02270508,
       -0.05053711, -0.234375  , -0.05004883, -0.20019531, -0.18359375,
        0.28515625, -0.23339844, -0.17089844,  0.05444336, -0.18847656,
       -0.00357056,  0.28710938, -0.1015625 ,  0.13085938, -0.10302734,
       -0.37890625,  0.25195312,  0.00289917, -0.24121094, -0.06640625,
        0.20019531,  0.03540039,  0.296875  ,  0.22167969, -0.02563477,
       -0.56640625,  0.21289062,  0.24707031,  0.17773438,  0.17382812,
       -0.0534668 ,  0.1484375 ,  0.11474609,  0.03613281, -0.33789062,
       -0.25585938,  0.0480957 , -0.10742188, -0.05126953, -0.15820312,
       -0.09814453,  0.26757812,  0.5703125 , -0.25390625, -0.21484375,
       -0.03320312, -0.16796875,  0.26171875,  0.29492188,  0.13671875,
        0.26757812, -0.01416016,  0.06445312, -0.00787354, -0.14941406,
        0.01721191, -0.07177734, -0.16601562,  0.15527344, -0.22167969,
        0.00469971, -0.2578125 , -0.0703125 , -0.12109375,  0.234375  ,
       -0.06933594,  0.32617188, -0.39648438, -0.21679688,  0.06030273,
       -0.01495361,  0.09619141,  0.04248047, -0.10253906, -0.24707031,
       -0.06298828,  0.44726562,  0.13378906,  0.14648438, -0.30859375,
       -0.40625   ,  0.31640625, -0.18847656, -0.20703125,  0.16601562,
        0.22851562,  0.25976562,  0.38867188, -0.09472656, -0.51953125,
       -0.265625  ,  0.11083984,  0.05395508,  0.25585938, -0.34765625,
       -0.18164062,  0.32421875, -0.21289062, -0.02307129, -0.03662109,
        0.359375  , -0.05419922,  0.20019531, -0.75390625,  0.18457031,
        0.359375  , -0.53515625, -0.03442383, -0.203125  , -0.24023438,
        0.09326172, -0.11474609, -0.12988281,  0.02880859, -0.02270508,
       -0.19824219,  0.14648438, -0.08056641,  0.1796875 , -0.234375  ,
       -0.09619141,  0.01043701,  0.03833008,  0.07666016,  0.17871094,
        0.46289062, -0.05004883, -0.21972656, -0.07080078,  0.06787109,
       -0.08398438, -0.328125  ,  0.02600098,  0.07080078,  0.00157928,
        0.19042969,  0.49804688, -0.23632812,  0.07617188, -0.22070312,
        0.11474609, -0.06103516,  0.34179688, -0.18945312,  0.3671875 ,
       -0.18164062,  0.48632812,  0.12402344,  0.04150391,  0.12695312,
       -0.15722656,  0.16210938, -0.21386719, -0.24316406,  0.15917969,
        0.17480469, -0.06396484, -0.10693359,  0.07617188,  0.20410156],
      dtype=float32)

In [7]:
import numpy as np
np.linalg.norm(wv['Illinois']-wv['Illini'])

3.36538

In [8]:
cos_sim=np.dot(wv['Illinois'],wv['Illini'])/(np.linalg.norm(wv['Illinois'])*np.linalg.norm(wv['Illini']))
cos_sim

0.5501352

In [9]:
from nlpia.loaders import get_data
cities=get_data('/home/oliver/anaconda3/lib/python3.8/site-packages/nlpia/bigdata/cities.csv')
cities.head(1).T

/home/oliver/anaconda3/lib/python3.8/site-packages/nlpia/bigdata/cities.csv

geonameid                       3039154
name                          El Tarter
asciiname                     El Tarter
alternatenames     Ehl Tarter,Эл Тартер
latitude                        42.5795
longitude                       1.65362
feature_class                         P
feature_code                        PPL
country_code                         AD
cc2                                 NaN
admin1_code                          02
admin2_code                         NaN
admin3_code                         NaN
admin4_code                         NaN
population                         1052
elevation                           NaN
dem                                1721
timezone                 Europe/Andorra
modification_date            2012-11-03

In [10]:
us=cities[(cities.country_code=='US') & (cities.admin1_code.notnull())]
us

,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
geonameid,,,,,,,,,,,,,,,,,,
4046255,Bay Minette,Bay Minette,"Bay Minette,Bay Minette Station,Bej Minet,Bej-...",30.88296,-87.77305,P,PPLA2,US,NaN,AL,003,NaN,NaN,9118,82.0,85,America/Chicago,2017-03-09
4046274,Edna,Edna,"Edna,Ednaville,Macaroni Station,adna,adna tgz...",28.97859,-96.64609,P,PPLA2,US,NaN,TX,239,NaN,NaN,5792,20.0,24,America/Chicago,2017-03-09
4046319,Bayou La Batre,Bayou La Batre,"Baju la Batr,Baju-La-Batr,Bayou La Batre,Bayou...",30.40352,-88.24852,P,PPL,US,NaN,AL,097,NaN,NaN,2621,2.0,5,America/Chicago,2017-03-09
4046332,Henderson,Henderson,"Khenderson,hndrswn,hndrswn tgzas,Хендерсон,هن...",32.15322,-94.79938,P,PPLA2,US,NaN,TX,401,NaN,NaN,13529,156.0,160,America/Chicago,2017-03-09
4046430,Natalia,Natalia,NaN,29.18968,-98.86253,P,PPL,US,NaN,TX,325,NaN,NaN,1490,209.0,211,America/Chicago,2017-03-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10300443,Sugarcreek Police Dept,Sugarcreek Police Dept,NaN,40.50253,-81.64176,P,PPLL,US,NaN,OH,157,75217,NaN,2220,NaN,302,America/New_York,2017-05-23
10629562,Scotts Mill,Scotts Mill,NaN,35.72666,-78.88390,P,PPLX,US,NaN,NC,183,93984,NaN,2400,NaN,106,America/New_York,2017-05-23
11395215,Maine,Maine,NaN,45.02716,-89.69039,P,PPL,US,NaN,WI,073,48225,NaN,2364,430.0,426,America/Chicago,2017-05-23
11468564,Plainview,Plainview,NaN,36.17731,-83.79534,P,PPL,US,NaN,TN,173,NaN,NaN,2061,NaN,354,America/New_York,2017-03-09
11550224,Allenstown,Allenstown,NaN,43.15673,-71.40478,P,PPLA3,US,NaN,NH,013,00660,NaN,0,NaN,97,America/New_York,2017-05-28

In [11]:
import pandas as pd
states=pd.read_csv('http://www.fonz.net/blog/wp-content/uploads/2008/04/states.csv')

In [12]:
states=dict(zip(states.Abbreviation,states.State))

In [13]:
states

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [14]:
us['city']=us.name.copy()
us['st']=us.admin1_code.copy()
us['state']=us.st.map(states)
us[us.columns[-3:]].head()

                     city  st    state
geonameid
4046255       Bay Minette  AL  Alabama
4046274              Edna  TX    Texas
4046319    Bayou La Batre  AL  Alabama
4046332         Henderson  TX    Texas
4046430           Natalia  TX    Texas

In [16]:
print('')

In [18]:
city_plus_state=[]
for c ,state,st in zip(us.city,us.state,us.st):
    if c not in vocab:
        continue
    row=[]
    if state in vocab:
        row.extend(wv[c]+wv[state])
    else:
        row.extend(wv[c]+wv[st])
    city_plus_state.append(row)
us_300d=pd.DataFrame(city_plus_state)

In [21]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
us_300D=pd.read_csv('/home/oliver/data/cities_us_wordvectors.csv')
us_300D

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,292,293,294,295,296,297,298,299,300,name
0,"Agoura, CA",-0.302979,0.397949,0.121094,0.094299,-0.329102,-0.155029,-0.258209,0.112183,-0.176270,...,0.078125,0.511230,0.602295,-0.073242,-0.347900,-0.828125,0.183594,-0.296509,0.256653,"Agoura, CA"
1,"Midway, TN",0.491699,-0.008057,-0.141209,0.549072,-0.168823,-0.031250,-0.488159,0.125000,-0.665039,...,0.509033,-0.611328,-0.126770,0.051270,-0.964844,-0.222733,-0.158691,-0.089466,0.297852,"Midway, TN"
2,"Los Serranos, CA",-0.189697,0.245850,0.526367,0.184998,-0.465332,-0.383789,-0.476318,-0.017212,0.019043,...,-0.120361,0.417114,0.836914,0.254883,-0.266846,-0.458130,0.180176,-0.288513,0.132629,"Los Serranos, CA"
3,"Carville, LA",0.337402,0.293945,-0.372314,0.600586,-0.417969,0.232422,-0.867188,-0.368164,-0.072998,...,0.016113,0.164673,0.015869,0.060547,-0.056641,-0.000488,-0.695312,-0.387238,0.410522,"Carville, LA"
4,"Johnsonville, TN",0.179199,0.018311,-0.312108,0.642578,-0.165161,0.359375,-0.639526,-0.097656,-0.883789,...,0.554932,-1.123047,-0.244446,-0.370117,-1.250000,-0.413086,0.010498,-0.176270,0.417480,"Johnsonville, TN"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8856,"Nevada, MO",0.654785,0.001465,0.336670,0.852539,-0.527832,-0.027588,-0.374756,-0.025879,0.099731,...,0.879883,-0.308548,0.368164,0.367188,-0.676147,-0.181259,0.399414,-0.440552,0.649292,"Nevada, MO"
8857,"Southern Pines, NC",0.343933,-1.038086,-0.327881,0.418945,0.034180,0.152710,-1.039062,-0.065430,-0.881836,...,-0.019531,-0.935547,-0.073730,0.039551,-1.001953,-0.343506,0.237793,0.097656,0.102051,"Southern Pines, NC"
8858,"Pratt, KS",0.124512,0.200989,-0.082397,0.342773,-0.560303,-0.358185,-0.347656,-0.064941,-0.038086,...,0.594727,-0.104858,0.314941,0.076294,-0.657227,-0.581055,0.787109,-0.475098,0.105469,"Pratt, KS"
8859,"Saint Joseph, MO",0.414062,0.251953,0.245850,0.966797,-0.039062,-0.226562,-0.321442,-0.077637,0.139282,...,0.937500,-0.492142,-0.115234,0.159180,-0.633423,-0.176376,0.200806,-0.230103,1.031250,"Saint Joseph, MO"
8860,"Washington, PA",0.287598,-0.231445,-0.211182,0.105835,-0.222168,-0.465332,-0.541016,0.107361,0.062500,...,-0.293457,-0.390137,0.208496,-0.004272,-0.277100,-0.063721,-0.124756,0.460205,-0.080566,"Washington, PA"

In [23]:
us_2D=pca.fit_transform(us_300D.iloc[:,1:300])

In [24]:
us_2D

array([[ 5.24505635, -1.1528199 ],
       [-0.99414028,  1.82371086],
       [ 4.24101662, -0.9429509 ],
       ...,
       [-0.62077426, -0.15249719],
       [-1.87320765, -0.78372379],
       [-0.95432648, -1.17880479]])

In [27]:
import seaborn
from matplotlib import pyplot as plt
from nlpia.plots import offline_plotly_scatter_bubble
df=pd.read_csv('/home/oliver/data/cities_us_wordvectors_pca2_meta.csv')
df = df.sort_values('population', ascending=False)[:10].copy()
df[['x', 'y']] = - df[['x', 'y']]  # <1> flip East/West & North/South axes to match geography better
html = offline_plotly_scatter_bubble(
    df, x='x', y='y',
    size_col=None, text_col='name', category_col=None,
    xscale=None, yscale=None,  # 'log' or None
    layout={}, marker={'sizeref': 3000})
with open('wordmap.html', 'w') as fout:
    fout.write(html)

ImportError: cannot import name '_plot_html' from 'plotly.offline.offline' (/home/oliver/anaconda3/lib/python3.8/site-packages/plotly/offline/offline.py)